<style>
    .container{
       width: 800px;
       font-family: Arial, Helvetica, sans-serif;
       align-items: center;
       display: flex;
       flex-direction: column;
    }

    span {
        margin: 10px
    }
</style>

<div class="container">
    <span>Hi, {{name}}</span>

    <br/>

    <span>You have requested to reset your password.</span>
    <span>To continue, please press <a href={{link}}>here</a>.</span>

    <br/>

    <span>In case you have not requested to reset your password, please ignore this message.</span>

    <h3> Team | <strong>Rentx</strong> </h3>
</div>